<html>
<head>
  <meta content="application/x-www-form-urlencoded" http-equiv="Content-Type">
  
  <title>Audio Recorder</title>

  <meta name="viewport" content="width=device-width">
  <script type="text/javascript" src="bower_components/jquery/dist/jquery.js"></script>
  <script type="text/javascript" src="bower_components/angular/angular.js"></script>  
  <script src="js/RecordRTC.js"></script>
  <script src="js/angular-route.min.js"></script>
  <script src="js/angular-resource.js"></script>
  <script src="js/arController.js"></script>
   
</head>
<body style="background-image: url('images.jpg');">

   <script type="text/javascript">
    var newSeq=[],sequence_arr=[],time_arr=[],sentence_arr=[], difftime=[],timesecond_arr=[];
    var finaltime, url2;
    var sequence=0,start=5,end=10;

    var blobArray=[];
       
    var CCOUNT = 60;
    var flag=0;
    var t, count;
   </script>

   <h2>Recorder</h2>
   <div ng-app="mainApp">
      <b><i><a href="#addSrt">Select SRT</a></i></b>
      <p><b><i><a href="#viewRecorder">View Recorder</a></b></i>
      <div ng-view></div>
      <script type="text/ng-template" id="addSrt.htm">
         <h2> Load SRT </h2>
         <input type="file" onchange="angular.element(this).scope().srtChange()" >
         {{message}}
         
      </script>
      
      <script type="text/ng-template" id="viewRecorder.htm">
         
         <h2> Sound Recorder </h2>      
         {{message}}  

        <div style="width:100%; text-align: center; background-color: #ffffff;">
          <h2 style="color:e22626;"><span id="timespan"></span></h2>        
          <span id="previous"></span><br></br>
          <h2 style="color:e22626;"><span id="current"></span></h2><br></br>
          <span id="future"></span><br></br>
        </div>

        <span id="timespan"></span>

        <input type="text" ng-model="from">from</input>
        <input type="text" ng-model="to">to</input>
        {{from + to}}
        <button ng-click="fromTo()">submit</button>
        <button ng-click="uploadAudio()">upload audio files</button>
      </script>

      <div style="display:none"> 
          <input type="button" value="Start" onclick="countdown()">
          <input type="button" value="Stop" onclick="cdpause()">
          <input type="button" value="Reset" onclick="cdreset()">
        </div>
        <section>
          <button id="audio-together">Play together</button>
          <div class="inner" style="height: 5em;">
            <audio id="audio" autoplay controls></audio>
            <button id="record-audio">Record</button>
            <button id="pause-resume-audio" disabled>Pause</button>
            <button id="stop-recording-audio" style="display:none">Stop</button>
            <h2 id="audio-url-preview"></h2>
            <h2 id="audio-blob-preview"></h2>
            <ul id="concatenatedBlob"></ul>
          </div>
          <audio id="audio-control-together" autoplay controls></audio>
        </section>

      <script type="text/javascript">

    (function() {
        var params = {},
                    r = /([^&=]+)=?([^&]*)/g;

                function d(s) {
                    return decodeURIComponent(s.replace(/\+/g, ' '));
                }

                var match, search = window.location.search;
                while (match = r.exec(search.substring(1)))
                    params[d(match[1])] = d(match[2]);

                window.params = params;        
    })();

        function bytesToSize(bytes) {
            var k = 1000;
            var sizes = ['Bytes', 'KB', 'MB', 'GB', 'TB'];
            if (bytes === 0) return '0 Bytes';
            var i = parseInt(Math.floor(Math.log(bytes) / Math.log(k)), 10);
            return (bytes / Math.pow(k, i)).toPrecision(3) + ' ' + sizes[i];
        }

        function getByID(id) {
            return document.getElementById(id);
        }

        var recordAudio = getByID('record-audio'),
            stopRecordingAudio = getByID('stop-recording-audio'),
            pauseResumeAudio = getByID('pause-resume-audio'),
            playTogether=getByID('audio-together'),
            audioTogether=getByID('audio-control-together');

        var audio = getByID('audio');

       
        var audioConstraints = {
            audio: true,
            video: false
        };

        // downloadTogether.onclick=function(){
        //     var resultURL="";
        //     for(blob in blobArray){
        //         blobUrl= URL.readAsDataURL(blob);
        //         resultURL += blobUrl;  
        //     }
            
        // }

        playTogether.onclick= function(){

          alert(  bytesToSize(blobArray));       
          alert( typeof(blobArray));
          ConcatenateBlobs(blobArray,'audio/wav', function(resultingBlob) {
                    var resultingUrl= URL.createObjectURL(resultingBlob);
                    console.log(resultingBlob);
                    console.log("final url: "+resultingUrl);
                    audio.src = resultingUrl;
                    hf= document.createElement('a');
                    hf.href = resultingUrl;
                    document.getElementById('audio-url-preview').innerHTML += '<a href="' + resultingUrl + '" target="_blank">Recorded Audio URL</a>';
                    hf.download = new Date().toISOString() + '.wav';
                    hf.innerHTML = hf.download;
                    var li = document.createElement('li');
                    li.appendChild(hf);
                    document.getElementById('concatenatedBlob').appendChild(li);
          });
        }

        var audioStream;
        var recorder;
        var url;

        recordAudio.onclick = function() {
            this.disabled=true;
            

            if (!audioStream)
                navigator.getUserMedia(audioConstraints, function(stream) {
                    if (window.IsChrome) stream = new window.MediaStream(stream.getAudioTracks());
                    audioStream = stream;
                    console.log("before1");
                    cdInit();
                    console.log("after");
                    countdown();

                    // "audio" is a default type
                    recorder = window.RecordRTC(stream, {
                        type: 'audio',
                        bufferSize: typeof params.bufferSize == 'undefined' ? 16384 : params.bufferSize,
                        sampleRate: typeof params.sampleRate == 'undefined' ? 44100 : params.sampleRate,
                        leftChannel: params.leftChannel || false,
                        disableLogs: params.disableLogs || false
                    });
                    recorder.startRecording();
                }, function() {});
            else {       
                console.log("before2");
                cdInit();
                console.log("after");
                countdown();

                audio.src = URL.createObjectURL(audioStream);
                audio.muted = true;
                //audio.play();
                if (recorder) recorder.startRecording();
            }

            window.isAudio = true;

            this.disabled = true;
            stopRecordingAudio.disabled = false;
            pauseResumeAudio.disabled = false;
        };


        stopRecordingAudio.onclick = function() {
            //this.disabled = true;
            //recordAudio.disabled = false;
            audio.src = '';
            cdpause();
            
            //Increment
            start++;
            console.log("on stop value of start variable: "+start);

            if (recorder)
                recorder.stopRecording(function(blob) {
                    audio.muted = false;
                    console.log(blob);
                    blobArray.push(blob);

                    url= URL.createObjectURL(blob);
                    audio.src = url;
                    document.getElementById('audio-url-preview').innerHTML += '<a href="' + url + '" target="_blank">Recorded Audio URL</a>';

                    if(flag==1){
                      flag=0;
                      recordAudio.onclick();
                      console.log("start recording again");
                    }

                });
        };



        var state;

        pauseResumeAudio.onclick =  function() {
            
            if(!recorder) return;

            if(this.innerHTML === 'Pause') {
                this.innerHTML = 'Resume';
                recorder.pauseRecording();
                cdpause();
                return;
            }
            
            this.innerHTML = 'Pause';
            countdown();
            recorder.resumeRecording();
        };


          ////TIMER
          function cddisplay() {
              // displays time in span
              document.getElementById("timespan").innerHTML = count;
          };

          function countdown() {
              // starts countdown
              cddisplay();
              
              console.log("count:"+count);

              if(count==difftime[start] && start<=end)
              {                
                  console.log("Sentence:"+sentence_arr[start]);
                  $("#previous").html(sentence_arr[start-1]);
                  $("#current").html("<b>"+sentence_arr[start]+"</b>");
                  $("#future").html(sentence_arr[start+1]);
              }
              else if(start>end) {                
                pauseResumeAudio.onclick();
                count=-1;
              } 
                
              if(count!=-1)
              if (count == 0) {
                  flag=1;
                  stopRecordingAudio.onclick();
                  // time is up
              } else {
                  count--;
                  t = setTimeout("countdown()", 1000);
              }
          };

          function cdpause() {
              // pauses countdown
              clearTimeout(t);
          };

          function cdInit(){
            //difftime is exact time from and to, till recording needs to be made for the sequence
            count = difftime[start];
            console.log("init count: "+count);
          }
          
/*          
$(document).keydown(function(evt)
{

if (evt.keyCode == 32) {
    pauseResumeAudio.onclick();
     
}

});
*/

      </script>
   </div>
</body>
</html>