<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>Horizontal examples - Sly</title>
	<meta name="viewport" content="width=device-width">
	<link rel="stylesheet" href="style/normalize.css">
	<link rel="stylesheet" href="style/font-awesome.css">
	<link rel="stylesheet" href="style/ospb.css">
	<link rel="stylesheet" href="style/horizontal.css">
	
	<script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
	<script src="js/Horizontal examples - Sly_files/ga.js"></script>
	<script src="js/Horizontal examples - Sly_files/modernizer.js"></script>
	<script type="text/javascript" src="js/audioController.js"></script>
	<script type="text/javascript" src="bower_components/jquery/dist/jquery.js"></script>
	<script src="js/RecordRTC.js"></script>
	<script type="text/javascript">
    var newSeq=[],sequence_arr=[],time_arr=[],sentence_arr=[], difftime=[],timesecond_arr=[];
    var finaltime;
    var sentence_arrIterator,sequence_arrIterator,timesecond_arrIterator,realIterator;
    var blobArray=[];
    var CCOUNT = 60;
    var flag=0;
    var t, count;
	</script>
</head>
<body>
<div ng-app="audioApp" ng-controller="audioCtrl">
<div id="firstDiv" class="pagespan container" ng-init="init()">
		<div class="wrap">
			<h2>Centered <small>- activated or middle item is centered when possible</small></h2>

			<div class="scrollbar">
				<div class="handle" style="transform: translateZ(0px) translateX(76px); width: 190px;">
					<div class="mousearea"></div>
				</div>
			</div>
			{{seqArr}}
			<div  class="frame" id="centered" style="overflow: hidden;" >
				<ul id="seqNum" class="clearfix" style="transform: translateZ(0px) translateX(-455px); width: 6840px;">
					
					<li ng-repeat="seq in seqArr track by $index" > 
						{{$index}}
					</li>
					
				
				</ul>
			</div>

			<div class="controls center">
				<button class="btn prev"><i class="icon-chevron-left"></i> prev</button>
				<button class="btn next">next <i class="icon-chevron-right"></i></button>
			</div>
		</div>		
</div>	
</div>

<script>
//ng-repeat="seq in sequence"
//<script type="text/javascript" src="js/srtProcessing.js">
//<input type="file" id="SRTFile" ng-model="randomName" ng-change="srtChange()" name="SRTFile">
</script>
<!-- Scripts -->
	
	
	<script src="js/Horizontal examples - Sly_files/jquery.min.js"></script>
	<script src="js/Horizontal examples - Sly_files/plugins.js"></script>
	<script src="js/Horizontal examples - Sly_files/sly.min.js"></script>
	<script src="js/Horizontal examples - Sly_files/horizontal.js"></script>
	<script type="text/javascript">
	
	$("#seqNum li").click(function() {
		console.log("check");
    	alert(this.id); // id of clicked li by directly accessing DOMElement property
    	/*
    	alert($(this).attr('id')); // jQuery's .attr() method, same but more verbose
    	alert($(this).html()); // gets innerHTML of clicked li
    	alert($(this).text()); // gets text contents of clicked li
    	
	});	
</script>
</body>
</html>